.header {
    height: 100px;
    background-color: #CAD5E2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    width: 160px;
}

.header a {
    text-decoration: none;
    margin-right: 25px;
    color: #03203C;
    font-size: 20px;
    transition: .1s;
}

.header a:hover {
    color: cornflowerblue;
    transform: translateY(-15px);
}